<h1 class="content-title" ng-if="templateData.title.length == null">Aguarde...</h1>
<h1 class="content-title" ng-if="templateData.title.length != null">{{templateData.title}}</h1>
<div class="oparations-bar">
	<button class="operations-button" ng-class="op.color || colorList[$index%colorList.length]" ng-repeat="op in templateData.operations"  ng-disabled="checkOpVisibility(op.visibility)" ng-click="execAction(op.action,$event)" ng-mouseenter="templateData.operationOver = op.label" ng-mouseleave="templateData.operationOver = ''" ng-bind-html="op.icon | html">&nbsp;</button>
	<button class="operations-button op-yellow" ng-click="forceGridUpdate()" ng-mouseenter="templateData.operationOver = 'Atualizar'" ng-mouseleave="templateData.operationOver=''">&#xe271;</button>
	<span id="operations-label" operetion-label>&nbsp;</span>
</div>
<table class="datagrid">
	<tr class="datagrid-header">
		<td width="5%">&nbsp;</td>
		<td ng-repeat="column in templateData.grid" width="{{column.width}}">{{column.label}}</td>
	</tr>
	<tr data-ng-repeat="item in templateData.datagrid" class="datagrid-row" ng-class="{'datagrid-row-selected':isSelected(item['key']) != -1}">
		<td class="datagrid-col datagrid-checked" ng-click="toggleSelectedItem(item['key'])">&nbsp;</td>
		<td ng-repeat="col in templateData.grid" class="datagrid-col" ng-click="toggleSelectedItem(item['key'])">{{item[col.column]}}</td>
	</tr>
	<tr data-ng-if="templateData.datagrid == null" class="datagrid-row">
		<td class="datagrid-message">Aguarde...</td>
	</tr>
	<tr class="datagrid-footer">
		<td colspan="{{templateData.grid.length + 1}}">{{templateData.registries}}</td>
	</tr>

</table>