/* 
	ALL SIZES
*/
/* CSS RESET */
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* GENERAL */

	/* FONTS */
		@font-face {
			font-family: 'FontAwesome';
			src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
			src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
				 url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
				 url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
				 url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
			font-weight: normal;
			font-style: normal;
		}

		html{
			height: 100%;
		}

		body{
			background-color: #cacaca;
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			min-height: 100%;
			overflow: auto;
			position: relative;
		}

		.bold{
			font-weight: bold;
		}

		h1{
			text-align: center;
			margin-top: 100px;
		}



/* HEADER */
		#header{
			height: 80px;
			line-height: 80px;
			position: fixed;
			background-color: #555;
			width: 100%;
		}

		#header-wrapper{
			width: 1000px;
			margin: 0 auto;
			height: 100%;
			position: relative;
		}

		#header-wrapper img{
			height: 48px; /*60%*/
			margin-top: 16px; /*20%*/
			float: left;
		}

		#header-phone{
			float: left;
			margin: 0 30px;
			height: 20px;
			line-height: 20px;
			margin-top: 30px;
			padding-right: 30px;
			color: #fff;
			font-size: 12px;
			border-right: 1px solid #fff;
		}

		#header-page-nav{
			float: left;
		}

		#header-login-nav a,
		#header-page-nav a{
			height: 80px;
			line-height: 80px;
			color: #fff;
			text-decoration: underline dotted;
			padding-right: 20px;
			text-transform: uppercase;
		}

		#header-login-nav{
			float: right;
		}


/* CONTENT */
		#content{
			padding: 80px 0 50px 0;
		}


/* FOOTER */
		footer{
			height: 50px;
			background-color: #000;
			width: 100%;
			position: absolute;
			bottom: 0;
			color: #fff;
			text-align: center;
			line-height: 50px;
		}