input{
	height:30px;
	line-height: 30px;
	padding-left: 5px;
	font-size: 12px;
	font-family: Verdana;
	color:#333;
	border:1px solid #cacaca;
	float:left;
}

select{
	height:34px;
	line-height: 34px;
	padding-left: 5px;
	font-size: 12px;
	font-family: Verdana;
	color:#333;
	border:1px solid #cacaca;
	float:left;
	margin-left:2px;
}

#input-date-start,
#input-date-end{
	cursor: pointer;
}

.input-icon{
	font-family: 'IconPackage';
	width:34px;
	height:34px;
	margin-left: -34px;
	line-height: 34px;
	text-align: center;
	display: block;
	float: left;
	cursor: pointer;
}

.green{
	color:#0a0;
}

.red{
	color:#d00;
}

.yellow{
	color:#aa0;
}

.error{
	margin-left: 20px;
	color:#f00;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
}

#log{
	font-size:12px;
	margin-left:20px;
}

#log .line:hover{
	background-color: #fff;
}

#log td{
	padding:5px 0;
}

#log .cabec{
	font-weight: bold;
	padding-bottom: 10px;
}